xcuserdata

FluxorExplorer.app
FluxorExplorer.app.dSYM.zip
FluxorExplorer.ipa
FluxorExplorer.pkg

fastlane/README.md
fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/screenshots/README.txt
.env
