name: Build and Deploy to Pages

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Fix paths
      run: mv Assets assets
    - name: Build and Deploy
      uses: helaili/jekyll-action@2
      with:
        token: ${{ secrets.JEKYLL_PAT }}
